
body {
    display: grid;
    margin: 0;
    height: 100vh;
}

.grid-container-sale{
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    width: 100%;
    color: white;
    padding: 10px;
    background-image: url("pictures/salepics/sale.png");
    background-size: contain;
    background-position: center;
    position: fixed;
    z-index: 1000;
    
}

nav {
    grid-area: nav;
    background-color: #f4f4f4;
    padding: 10px;
}

main {
    grid-area: main;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: #f0f0f0;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/*Schriften*/
h1{
    position: relative;
    top: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 30px;
}

/*Buttons*/
.saleButtons{
    text-transform: uppercase;
    opacity: 0.9;
    border-color: #000;
}

#title {
    margin-top: 0;
}

.headsection_sale{
    grid-area: header;
    
}
h1{
    position: relative;
    top: 30px;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
   
    text-transform: uppercase;
    letter-spacing: 30px;

}
.sidebarbtn{
    font-size: 40px;
    padding-top: 0px;
    padding-left: 6px;
    color: #000;
    height: 60px;
    width: 60px;
    position:absolute;
    left: 20px;
    top: 20px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.sidebarclosebtn{
    font-size: 25px;
    color: #fff;
    position:absolute;
    left: 150px;
    top: 10px;
    background-color: #000;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.sidebar{
    padding-top: 40px;
    font-size: 25px;
    color: #fff;
    position:absolute;
    left: 20px;
    top: 20px;
    background-color: #000;
    height: auto;
    width: 200px;
    border: none;
    display: flex;
}



